<footer class="footer">
    <nav class="links">
        <h3>Quick links</h3>
        <ul>
            <li>About us</li>
            <li>Contact us</li>
            <li>FAQ</li>
        </ul>
    </nav>
    <nav class="nav">
        <h3>Navigation</h3>
        <ul>
            <li routerLink="/">Home</li>
            <li routerLink="/courses">Courses</li>
            <li></li>
        </ul>
    </nav>
    <div class="subscribe">
        <input type="text" placeholder="Your email adress"> <button>Subscribe</button>
    </div>
</footer>

<footer class="main-footer">
    <p><span>Online Academy</span> | 2018</p>
</footer>