<div class="col-xs-12 col-md-12">
    <div class="col-xs-offset-3">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category" formControlName="category" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="teacherName">Teacher name</label>
                        <input type="text" name="teacherName" id="teacherName" formControlName="teacherName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="teacherEmail">Teacher email</label>
                        <input type="text" name="teacherEmail" id="teacherEmail" formControlName="teacherEmail" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" name="language" id="language" formControlName="language" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-md-8 col-xs-offset-2">
                    <button class="btn-save">Save</button>
                    <button class="btn-cancel" (click)="onCancel()">Cancel</button>
                </div>

            </div>
        </form>
    </div>
</div>