    img {
        max-width: 50%;
    }
    
    .form-control:focus {
        border-color: #ff8b58;
    }
    
    label {
        color: #f88a58;
    }
    
    .btn-save {
        background-color: #b1ecca;
        border: none;
        padding: 2% 5%;
        border-radius: 10px;
        margin-bottom: 2%;
    }
    
    .btn-cancel {
        background-color: #ff8b58;
        border: none;
        padding: 2% 5%;
        border-radius: 10px;
        margin-bottom: 2%;
    }