<div class="card mt-4 mb-4">
    <img class="card-img-top img-fluid" src="" alt="" width="900" height="200">
    <div class="card-body">
      <h3 class="card-title">prd1</h3>
      <a href="#">Update Product</a> | <a href="#">Delete Product</a>
      <h4>200</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum neque ut corporis praesentium, asperiores iusto dolorem, fugit dolore rem quod at quam? Similique aut corporis adipisci sed ut animi commodi.</p>
      <span class="text-warning">5</span>
      stars
    </div>
</div>
  <!-- /.card -->
