img {
    height: 46rem;
    width: 100%;
}

section {
    height: 77rem;
}

form {
    width: 22%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 25rem;
    left: 40%;
    top: -12%;
    box-shadow: 1px 2px 25px #0000004f, -1px 2px 25px #0000004f;
}

.form-group {
    text-align: center;
}

label {
    margin-top: 5%;
    color: #ff8b58;
}

.form-control {
    width: 90%;
    position: relative;
    left: 4%;
}

.btn-signup {
    border-radius: 10px;
    padding: 3% 8%;
    background-color: #ff8b58;
    margin-top: 3%;
    border: none;
}

.btn-signup:hover {
    background-color: #ff9667;
}