<section class="popular">
    <h1 class="title">Popular Courses</h1>
    <hr class="line">
    <ul>
        <li>All</li>
        <li *ngFor="let course of categories; let i = index;">{{ course }}</li>
    </ul>
    <div class="box" *ngFor="let course of courses">
        <img [src]="course.imagePath" alt="{{ course.name }} ">
        <h3> {{ course.name }} </h3>
        <p class="category"> {{ course.category }} </p>
        <p class="description"> {{ course.description | shorten: '60' }} </p>
        <div class="star-rating">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <h5 class="teacher"> {{ course.teacherName }} </h5>
    </div>
</section>