.details {
    margin-top: 5%;
}

p {
    text-indent: 25px;
}

img {
    border-radius: 6%;
}

.info {
    height: 20rem;
}

.teacher h3 {
    display: inline;
}

.teacher p {
    display: inline;
    padding-left: 9%;
}

.description h2 {
    color: #f88a58;
}

.line {
    background-color: #f88a58;
    position: relative;
    right: 41%;
    width: 20%;
    height: 4px;
    border-radius: 10px;
}

.glyphicon {
    color: #ff8b58;
}

.actions {
    position: relative;
    left: 86%;
}

.actions button {
    background-color: transparent;
    border: none;
}

.actions button:hover {
    color: #ff8b58;
}