<ul class="list-group">
    <li class="list-group-item" aria-current="true" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    ><a routerLink="/products">All Products</a></li>
    <li class="list-group-item" routerLinkActive="active"><a routerLink="/products/create">Add new product</a></li>
    <li class="list-group-item" routerLinkActive="active" *ngFor="let cat of categoryList">
      <a routerLink="/products/category/{{cat.id}}" >
          {{ cat.title }}
      </a>
    </li>
  </ul>
  