<h1 class="title">Pricing Plan</h1>
<hr class="line">
<div class="container plan">
    <div class="basic">
        <h1>BASIC</h1>
        <hr class="horizontal-line">
        <h6>FREE</h6>
        <button class="btn btn-default trial">Start free 7 days trial</button>
    </div>
    <div class="economical">
        <h1>ECONOMICAL</h1>
        <hr class="horizontal-line">
        <h6>10</h6>
        <p>PER YEAR</p>
        <button class="btn btn-default trial">Start free 7 days trial</button>

    </div>
    <div class="pro">
        <h1>PRO</h1>
        <hr class="horizontal-line">
        <h6>15</h6>
        <p>PER YEAR</p>
        <button class="btn btn-default trial">Start free 7 days trial</button>

    </div>
</div>